.header {
}

.header__container {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	padding: 16px 32px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.header__menu-button {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 9.6px;
	background-color: $base-white-color;
	border: 3.2px solid $base-white-color;
	box-shadow: 0 0 6.4px 0 rgba(0, 0, 0, 0.25);
	cursor: pointer;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $base-dark-red-color;
		mask-repeat: no-repeat;
		mask-position: center;
	}
}

.header__menu-button.header__menu-button--open::after {
	width: 54px;
	height: 27px;
	mask-image: url("../../img/icon/burger.svg");
	mask-size: 54px 27px;
}

.header__menu-button.header__menu-button--close::after {
	width: 30px;
	height: 30px;
	mask-image: url("../../img/icon/close.svg");
	mask-size: 30px 30px;
}

.header__menu-container {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 132px;
	display: flex;
	justify-content: space-between;
	background-color: red;
}

.header__product {
}

.header__navigation-item-title {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 600;
	color: $dark-grey-color;
	text-transform: uppercase;
}

.header__product-list {
	max-width: 760px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	list-style-type: none;
}

.header__product-item {
}

.header__product-link {
	display: flex;
	align-items: end;
	font-size: 21px;
	font-weight: 600;
	color: #4A4747;
	border-radius: 6px;
	border: 2px solid $base-white-color;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
	text-transform: uppercase;
}

.header__product-link p {
	margin: 0;
	padding: 0;
}

#card-1 {
  @include card-bg("item-menu-1"); 
}

#card-2 {
  @include card-bg("item-menu-2"); 
}

#card-3 {
  @include card-bg("item-menu-3");
}

#card-4 {
  @include card-bg("item-menu-4"); 
}

.header__navigation-container {
}
.header__navigation-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.header__navigation-item {
}

.header__navigation-item-link {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 600;
	color: $dark-grey-color;
	text-transform: uppercase;
	text-decoration: none;
}

.header__navigation-item-sublink {
	text-decoration: none;
}

.header__navigation-item-sublink--number {
}
