@include font-face("Nunito", 300, normal, url("../../fonts/nunito-300.woff2") format("woff2"));
@include font-face("Nunito", 400, normal, url("../../fonts/nunito-400.woff2") format("woff2"));
@include font-face("Nunito", 500, normal, url("../../fonts/nunito-500.woff2") format("woff2"));
@include font-face("Nunito", 600, normal, url("../../fonts/nunito-600.woff2") format("woff2"));
@include font-face("Nunito", 700, normal, url("../../fonts/nunito-700.woff2") format("woff2"));

