html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  background-color: aqua;

  transform: scale(calc(100vw / #{$base-xl}));
  transform-origin: top left;
  width: calc(100vw / calc(100vw / #{$base-xl}));
  height: calc(100vh / calc(100vw / #{$base-xl}));
  box-sizing: border-box;
  overflow-x: hidden;

  @media (max-width: #{$screen-xl}px) {
    transform: scale(calc(100vw / #{$base-lg}));
    width: calc(100vw / calc(100vw / #{$base-lg}));
    height: calc(100vh / calc(100vw / #{$base-lg}));
  }

  @media (max-width: #{$screen-lg}px) {
    transform: scale(calc(100vw / #{$base-md}));
    width: calc(100vw / calc(100vw / #{$base-md}));
    height: calc(100vh / calc(100vw / #{$base-md}));
  }

  @media (max-width: #{$screen-md}px) {
    transform: scale(calc(100vw / #{$base-sm}));
    width: calc(100vw / calc(100vw / #{$base-sm}));
    height: calc(100vh / calc(100vw / #{$base-sm}));
  }

  @media (max-width: #{$screen-sm}px) {
    transform: scale(calc(100vw / #{$base-xs}));
    width: calc(100vw / calc(100vw / #{$base-xs}));
    height: calc(100vh / calc(100vw / #{$base-xs}));
  }
  
  @media (max-width: #{$screen-xs}px) {
    transform: scale(calc(100vw / #{$base-xxs}));
    width: calc(100vw / calc(100vw / #{$base-xxs}));
    height: calc(100vh / calc(100vw / #{$base-xxs}));
  }
}

main {
  flex-grow: 1;
}
